.certificados-container {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 50px;
}

.certificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    gap: 50px;
}

.certificados>div {
    width: 23%;
    height: 270px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    border: 3px solid #000000;
    background-color: rgb(224, 255, 203);
}

/* .certificados button {
    padding: 8px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: rgb(255, 255, 226);
} */

.certificados button:hover {
    background-color: rgb(255, 238, 111);
    cursor: pointer;
}

@media only screen and (max-width:1023px) {
    /* .certificados-container h3 {
        font-size: 60px;
    } */

    .certificados {
        gap: 30px;
    }

    .certificados>div {
        width: 33%;
        height: 330px;
    }

    @media only screen and (max-width:580px) {
        /* .certificados-container h3 {
            font-size: 40px;
        } */

        .certificados {
            flex-direction: column;
            gap: 25px;
            align-items: center;
        }

        .certificados>div {
            width: 80%;
            height: 280px;
        }

        /* .certificados h4 {
            font-size: 18px;
        }

        .certificados p {
            font-size: 15px;
        } */
    }
}