.footer-container {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 235, 88);
    border-top: 1px solid #000000;
    flex-wrap: wrap;
}

.footer-container>p {
    font-size: 15px;
    text-align: center;
}

.redes-enlace {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3px;
}

.redes-enlace i {
    outline: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.redes-enlace a {
    text-decoration: none;
    text-align: 15px;
    color: black;
}

#linkedin {
    background-color: #0000ff;
    color: #ffffff;
}

#github {
    background-color: #ffffff;
    color: #000000;
}

#gmail {
    background-color: #ce2727;
}

#telegram {
    background-color: #26aaff;
}

#whatsapp {
    background-color: #4eff48;
}

.redes-enlace a:hover {
    cursor: pointer;
}

@media(max-width:940px) {
    .footer-container {
        flex-direction: column;
    }
    
    .redes-enlace {
        margin-top: 8px;
    }
    
}