.inicio-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 518px;
    min-width: 300px;
    background-image: url("../assets/fondoinicio.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.presentacion-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 10px;
}

.presentacion-div h1 {
    text-align: center;
    color: white;
    font-size: clamp(2.5rem, -1.429rem + 10.476vw, 8rem);
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.presentacion-div p {
    text-align: center;
    font-weight: bold;
    font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    color: white;
}

/*Codigo para la cartilla*/
.cartilla-div-container {
    height: 100vh;
    min-height: 518px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartilla-div {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
    max-width: 1100px;
    width: 100%;
}

.cartilla-div-figure {
    max-height: 250px;
    max-width: 250px;
}

.cartilla-div-figure img {
    width: 100%;
    border-radius: 50%;
    outline: 3px solid rgb(0, 0, 0);
}

.cartilla-div-description {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.cartilla-div-description h3 {
    font-size: clamp(1.5rem, -0.786rem + 6.095vw, 4.7rem);
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.cartilla-div-description p {
    font-size: clamp(1rem, 0.571rem + 1.143vw, 1.6rem);
    text-align: center;
}

/*Botones*/
.cartilla-div-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
}

.cartilla-div-button a {
    width: 40%;
}

.cartilla-div-button button {
    font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.cartilla-div-button button:hover {
    background-color: #ffee6f;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

/*Tablet*/
@media only screen and (max-width:1023px) {

    /*Presentacion*/
    .presentacion-div {
        width: 100%;
        text-align: center;
        padding: 0 15px;
    }

    /*Cartilla*/
    .cartilla-div {
        flex-wrap: wrap;
    }

    .cartilla-div-description {
        width: 100%;
        padding: 0 15px;
    }

    /*Celular*/
    @media only screen and (max-width:425px) {

        /*Cartilla*/
        .cartilla-div {
            flex-wrap: wrap;
        }

        /*Botones*/
        .cartilla-div-button {
            flex-direction: column;
            text-align: center;
        }

        .cartilla-div-button button {
            width: 95%;
        }

        .cartilla-div-button a {
            width: 100%;
        }
    }
}