  .proyectos-container {
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.proyectos-container h3 {
    text-align: center;
    font-size: clamp(2.65rem, 2.272rem + 2.018vw, 5.5rem);
    text-shadow: 5px 5px 5px #808080;
}

.proyectos {
    display: flex;
    padding: 15px 10px 50px 10px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.proyectos>div {
    border: 3px solid #000000;
    width: clamp(17.5rem, 14.845rem + 14.159vw, 37.5rem);
    height: clamp(33rem, 31.938rem + 5.664vw, 41rem);
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #e7ff7c;
}

.proyectos>div h4 {
    text-align: center;
    font-size: clamp(1.5rem, 1.394rem + 0.566vw, 2.3rem);
    text-decoration: underline
}

.proyectos .proyectos-figure {
    width: 100%;
    margin-top: 5px;
}

.proyectos .proyectos-figure img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.proyectos>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    padding: 10px;
}

.proyectos p {
    text-align: justify;
    font-size: clamp(1rem, 0.98rem + 0.106vw, 1.15rem);
}

.proyectos-tecnologia h5 {
    font-size: clamp(1.1rem, 1.087rem + 0.071vw, 1.2rem);
    text-align: center;
}

.proyectos-tecnologia>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.proyecto-links {
    font-size: clamp(1.2rem, 1.193rem + 0.035vw, 1.25rem);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.proyecto-links a{
    color: #000000;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    background-color: #f0f0f0;
}

.proyecto-links a:hover {
    background-color: rgb(255, 238, 111);
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
} 

@media only screen and (max-width:425px) {
    .proyecto-links {
    flex-direction: column;
    gap: 10px;
    }

    .proyecto-links a{
        width: 90%;
    } 
}