.proyectos-container {
    min-height: 100vh;
    padding-top: 63px;
}

/* .proyectos-container h3 {
    text-align: center;
    font-size: 68px;
    text-shadow: 8px 8px 8px #808080;
    font-style: italic;
} */

.proyectos {
    display: flex;
    padding: 35px 10px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.proyectos>div {
    border: 3px solid #000000;
    width: 450px;
    min-height: 550px;
    padding: 13px;
    border-radius: 20px;
    box-sizing: border-box;
}

/* .proyectos>div h4 {
    text-align: center;
    font-size: 23px;
    text-decoration: underline
} */

.proyectos>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    padding: 10px;
}

.proyectos .proyectos-figure {
    width: 100%;
}

.proyectos .proyectos-figure img {
    width: 100%;
    border: 1px solid #000000;
}

.proyectos p {
    text-align: justify;
}

/* .proyectos-tecnologia h5 {
    font-size: 17px;
    text-align: center;
} */

.proyectos-tecnologia>div {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.proyectos-tecnologia {
    width: 100%;
}

.proyectos-tecnologia figure {
    width: 15%;
}

.proyectos-tecnologia img {
    width: 100%;
}

/* .proyectos button {
    font-size: 23px;
    padding: 5px;
    border-radius: 10px;
} */

.proyectos-button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.proyectos button:hover {
    background-color: rgb(255, 238, 111);
    cursor: pointer;
}


@media only screen and (min-width:426px) and (max-width:1023px) {
    /* .proyectos-container h3 {
        font-size: 60px;
    }

    .proyectos>div h4 {
        font-size: 20px;
    } */
}

@media only screen and (max-width:425px) {
    /* .proyectos-container h3 {
        font-size: 40px;
    }

    .proyectos>div h4 {
        font-size: 18px;
    } */

    .proyectos-button {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .proyectos-button button {
        width: 100%;
    }
}