.sobreMi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.sobreMi-container>div {
    display: flex;
    flex-direction: column;
}

.sobreMi-container h3 {
    text-align: center;
    font-size: 68px;
    text-shadow: 8px 8px 8px #808080;
    font-style: italic;
}

.sobreMi-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreMi-descripcion>div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 1050px;
    padding: 10px;
    gap: 25px;
}

.sobreMi-descripcion figure {
    max-width: 200px;
    border-radius: 15px;
}

.sobreMi-descripcion img {
    width: 100%;
    border-radius: 13px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 8px 8px 8px #3f3f3f;
}

.sobreMi-descripcion p {
    padding: 15px;
    font-size: 18px;
    text-align: justify;
    width: 60%;
}

.sobreMi-descripcion strong {
    font-style: italic;
}

.sobreMi-informacion {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 50px 0px;
    box-sizing: border-box;
}

.sobreMi-informacion>div {
    display: flex;
    justify-content: space-evenly;
    max-width: 1050px;
    width: 90%;
    align-items: flex-start;
}

.sobreMi-informacion fieldset {
    width: 35%;
    padding: 10px;
    border-width: 5px;
}

.sobreMi-informacion legend {
    text-align: center;
    font-size: 20px;
}

.sobreMi-informacion ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 5px;
}

.sobreMi-informacion li {
    display: block;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

@media only screen and (max-width:870px) {
    .sobreMi-informacion>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sobreMi-informacion fieldset {
        width: 70%;
    }

    @media only screen and (max-width:645px) {
        .sobreMi-descripcion>div {
            flex-direction: column;
            align-items: center;
            width: 95%;
            box-sizing: border-box;
        }
    }
}

/*Tablet*/
@media only screen and (min-width:426px) and (max-width:1023px) {
    .sobreMi-container h3 {
        font-size: 60px;
    }

    .sobreMi-descripcion p {
        font-size: 15px;
    }
}

/*Celular*/
@media only screen and (max-width:425px) {

    .sobreMi-container h3 {
        font-size: 50px;
    }

    .sobreMi-descripcion p {
        font-size: 15px;
        width: 100%;
    }

    .informacion fieldset {
        width: 80%;
    }

    .sobreMi-informacion fieldset {
        width: 90%;
        padding: 5px;
    }

    .sobreMi-informacion legend {
        font-size: 16px;
        padding: 0 5px;
    }
}