* {
  padding: 0px;
  margin: 0px;
  font-family: 'Russo One', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  background-color: #fffcab;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(53, 53, 53);
}

body::-webkit-scrollbar-thumb {
  background-color: #0a9595;
  border-radius: 12px;
  border: 2px solid #000000;
}

#dimensiones {
  width: 100%;
  display: none;
}

#dimensiones img {
  width: 100%;
}

@media only screen and (min-width:2561px) {
  #root {
    display: none;
  }

  #dimensiones {
    display: block;
  }
}

@media only screen and (max-width:299px) {
  #root {
    display: none;
  }

  #dimensiones {
    display: block;
  }
}